[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/django-talatparwez/talatparwez
Environment="PATH=/var/lib/jenkins/workspace/django-talatparwez/env/bin"
ExecStart=/var/lib/jenkins/workspace/django-talatparwez/env/bin/gunicorn \
        --error-logfile /var/lib/jenkins/workspace/django-talatparwez/error.log \
        --workers 3 \
        --bind unix:/run/gunicorn.sock \
        --capture-output --log-level debug \
        talatparwez.wsgi:application

[Install]
WantedBy=multi-user.target